################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# Visual Studio 2015/2017 cache/options directory
.vs/
/.vs/github-io/v17/workspaceFileList.bin
/.vs/slnx.sqlite
/.vs/github-io/v17/.wsuo
/.vs/github-io/v17/Browse.VC.db
/.vs/github-io/FileContentIndex/23567c4c-8833-43e0-b1bb-4208cee27f3a.vsidx
